.semiCircleChartContainer {
  padding: 20px;
  .semiCircleChart {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }
  .orphanagesColor {
    color: #fd7ee1;
  }
  .retirementHomesColor {
    color: #58cd9a;
  }
}
