// text color
$text-color: #333;
$text-light: #ffffff;
$secondary-text-color: #00000099;
$secondary-text-color-dark: #ffffffcc;

$border-color: #ddd;

// background color
$background-light: #f4f4f4;
$background-dark: #f9f9f9;
$background-white: white;

$box-shadow-color: #00000022;
