$primary-color: #007bff;
$text-color: #333;
$text-light: #ffffff;
$secondary-text-color: #00000099;
$border-color: #ddd;
$background-light: #f9f9f9;
$background-dark: #f9f9f9;
$background-white: white;
$button-bg-dark: #1a1a1a;
$box-shadow-color: #00000022
