.card{
    padding: 28px 20px 31px 20px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em #00000022;
    transition: transform 300ms;
    height: 360px;
    @media screen and (min-width: 745px){
        width: 387px;
    }
    @media screen and (min-width: 320px) and (max-width: 745px){
        width: 321px;
    }
    @media screen and (max-width: 320px){
        width: 100%;
    }
}
.card:hover{
    /* transform: scale(1.1); */
    background-size: calc(100% + 10px);
}